{% extends "layout-topnav.html" %}
<!-- Title -->
{% block title %}About{% endblock %}

<!-- load static -->
{% load static %}

<!-- link css -->
{% block link %} {% static "about/css/about-style.css" %} {% endblock %}

<!-- background -->
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="card col-sm">

            <p class="display-2 text-center hdtext mb-3 mt-3">
                <br>
                About us
            </p>

            <p class="text-center text mt-4 mb-5">
                "Allblue is a website to find and discuss about recipe"
            </p>
            <div class="mb-2"></div>
            <p class="text-center team mt-5">
                รายชื่อสมาชิก<br><br>
            </p>
            <p class="text text-left mx-auto">
                6110613046 นายภัควัฒน์ อิสระวิศาลพล <br>
                6110613061 นายเจษฎากร แนวบรรทัด <br>
                6110613228 นายปุณณธัช บุณยรัตนสุนทร <br>
                6110613129 นายรัฐพล พุทธรักษา <br>
                6110613095 นายยศธร ปานทองคำ <br>
            </p>

        </div>

        <div class="col-sm px-0">
            <img src="{% static 'about/images/index.jpeg' %}" alt="preview1" class="w-100">
        </div>
    </div>
</div>

<div class="footer">
    <div class="pt-5 pl-5 footext mb-3">
        Contact Us
    </div>
    <div class="pt-2 pl-5 ">
        <a href="https://github.com/6110613228/cn331-Project-Allblue" target="blank">
            <img src="{% static 'logo/github.png' %}" class="icon mr-3">
        </a>
        <a href="https://www.youtube.com/" target="blank">
            <img src="{% static 'logo/youtube.jpg' %}" class="icon mr-3">
        </a>
        <a href="https://www.pivotaltracker.com/n/projects/2469972" target="blank">
            <img src="{% static 'logo/pivotaltracker.png' %}" class="icon mr-3">
        </a>
    </div>
</div>

{% endblock %}