<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>About</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- load static -->
    {% load static %}

    <!-- background -->
    <div style="background-image: url({% static "pizza.jpg" %}); background-size:120em;
    background-repeat:no-repeat;">

        <!-- shortcut bar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://127.0.0.1:8080">Allblue</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="http://127.0.0.1:8080/about/">About</a></li>
                        <li><a href="#">Menu</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://127.0.0.1:8080/admin"><span class="glyphicon glyphicon-log-in"></span>
                                Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- what is allblue block -->
        <headfont>
            <b>ALLBLUE</b>
        </headfont>

        <br>
        <subheadfont><b>website to find a recipe</b></subheadfont>

        <bodyfont>
            <p style="margin-left: 400px; margin-top: 100px;"><b>What is Allblue?</b></p>
        </bodyfont>

        <div style="margin-left: 320px; margin-top: -150px; margin-bottom: -130.4px;">
            <img src="{% static "underline.png" %}" alt="underline" width="420" height="370">
        </div>

        <subbodyfont>
            <p style="margin-top: 70px; margin-left: 200px;">
                "Allblue is a web application for searching,<br><br>
                &nbsp;&nbsp;&nbsp;finding and discussing your dream recipe."</p>
        </subbodyfont>

        <br><br><br><br><br><br>
    </div>
</head>

<body>
    <!-- Teams block -->
    <div style="background-image: url({% static "bg2.jpg" %}); background-size:110em;
    background-repeat:no-repeat; background-position-x: -10px; background-position-y: 0px;">
        <bodyfont>
            <p style="margin-left: 895px; margin-top: -45px;"><b><br>Teams</b></p>
        </bodyfont>

        <div style="margin-left: 740px; margin-top: -150px; margin-bottom: -130.4px;">
            <img src="{% static "underline.png" %}" width="420" alt="underline" height="370">
        </div>

        <p style="margin-left: 90px; ;font-family:cursive,sans-serif; font-size: 1.8em; margin-left: 730px; margin-top: 30px;">
            6110613046&nbsp;&nbsp;นายภัควัฒน์&nbsp;&nbsp;&nbsp;อิสระวิศาลพล<br><br>
            6110613061&nbsp;&nbsp;นายเจษฎากร&nbsp;&nbsp;แนวบรรทัด<br><br>
            6110613228&nbsp;&nbsp;นายปุณณธัช&nbsp;&nbsp;บุณยรัตนสุนทร<br><br>
            6110613129&nbsp;&nbsp;นายรัฐพล&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;พุทธรักษา<br><br>
            6110613095&nbsp;&nbsp;นายยศธร&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปานทองคำ<br><br>
        </p>

    <!-- Contact block -->
        <bodyfont>
            <p style="margin-left: 895px; margin-top: 60px;"><b>Contact</b></p>
        </bodyfont>

        <div style="margin-left: 740px; margin-top: -150px;">
            <img src="{% static "underline.png" %}" alt="underline" width="420" height="370">
        </div>

        <div style="margin-top: -130px; margin-left: 750px; margin-bottom: 30px; mix-blend-mode: multiply;">
            <img src="{% static "Github.png" %}" alt="Github-logo" width="80" height="80" style="float: left;">
        </div>

        <p style="margin-left: 840px; font-size: 1.4em; font-family:cursive; ">
            <a href="https://github.com/6110613228/cn331-Project-Allblue" style="color: red;" target="blank">GitHub</a>
        </p>

        <div style="margin-top: 30px; margin-left: 740px; margin-bottom: 65px; mix-blend-mode: multiply;">
            <img src="{% static "youtube.jpg" %}" alt="youtube-logo" width="100" height="100" style="float: left;">
        </div>

        <p style="margin-left: 840px; font-size: 1.4em; font-family:cursive;">
            <a href="https://www.youtube.com/" style="color: red;" target="blank">Youtube</a>
        </p>

        <div style="margin-top: 50px; margin-left: 758px; margin-bottom: 70px; mix-blend-mode: multiply;">
            <img src="{% static "tracker.png" %}" alt="pivotaltracker-logo" width="60" height="60" style="float: left;">
        </div>

        <p style="margin-left: 840px; font-size: 1.4em; font-family:cursive">
            <a href="https://www.pivotaltracker.com/n/projects/2469972" style="color: red;" target="blank">Pivotal Tracker</a>
        </p>

        <br><br><br><br><br>
    </div>
</body>

<style>
    headfont {
        font-family: "Josefin Sans", sans-serif;
        font-size: 10em;
        font-weight: 700;
        margin-bottom: 14px;
        line-height: 1.2;
        display: block;
        margin-block-start: 90px;
        margin-block-end: 0px;
        margin-inline-start: 100px;
    }

    subheadfont {
        font-family: 'Franklin Gothic Medium', sans-serif;
        font-size: 1.5em;
        color: coral;
        margin-left: 100px;
        margin-top: -20px;
    }

    bodyfont {
        font-family: cursive, sans-serif;
        font-size: 2.2em;
    }

    subbodyfont {
        font-family: cursive, sans-serif;
        font-size: 2.4em;
    }

</style>

</html>