{% extends "layout-topnav.html" %}

{% load static %}

<!-- Title -->
{% block title %} Homepage {% endblock%}

<!-- link style sheat -->
{% block link %} {% static "profile/css/profile-style.css" %} {% endblock %}

<!-- body -->
{% block body %}

<div class="main pt-5">
    <!-- Sign up form -->
    <section class="signup">
        <div class="container w-50 mx-auto mt-3" style="height: 44em;">
            <div class="signup-form mx-auto px-0">
                <h2 class="form-title mt-5 text-center pt-3">Edit Profile</h2>
                <form action="{% url 'editProfile' %}" method="POST" class="register-form" id="register-form">
                    {% if error_message %}
                    <h3>{{ error_message }}</h3>
                    {% endif %}
                    {% csrf_token %}
                    <br>
                    <div class="form-group textform">
                        <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="first_name" id="firstname" value="{{ request.user.first_name }}" required/>
                    </div>
                    <div class="form-group textform">
                        <label for="pass"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="last_name" id="lastname" value="{{ request.user.last_name }}" required/>
                    </div>
                    <div class="form-group textform">
                        <label for="username"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="password" placeholder="password" required/>
                    </div>
                    <div class="form-group form-button mt-5">
                        <a href="{% url 'profile' %}" class="form-submit ml-3 mr-3">Cancel</a> 
                        <input type="submit" name="submit" id="submit" class="form-submit ml-5" value="Confirm" />
                    </div>

                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}