{% extends "layout-topnav.html" %}

{% load static %}

<!-- Title -->
{% block title %} Homepage {% endblock%}

<!-- link style sheat -->
{% block link %} {% static "index/css/index-style.css" %} {% endblock %}

<!-- body -->
{% block body %}
    <div class="container-xl">
        <div class="rounded row mt-4 bg-light">
            <div class="col">
                <h3 class="my-3">Header</h3>
                <img src="{% static "index/images/preview1.jpg" %}" alt="preview1" class="rounded" style="height: 200px;">
                <p class="rounded mt-3">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum."
                </p>
            </div>
        </div>
    </div>
{% endblock %}