{% extends "layout-topnav.html" %}
{% load static %}
{% block title %} Homepage {% endblock%}
{% block link %} {% static "index/css/index-style.css" %} {% endblock %}
{% block body %}
    <div class="container">
        <main class="main-area">
            <img src="{% static "index/images/view2.jpg" %}" alt="view2" height="480px" width="480px"
                style="margin-left: 320px; margin-top: 220px; position: absolute;">
            <img src="{% static "index/images/view.jpg" %}" alt="view" 
                style="margin-left: 50px; margin-top: 50px; position: absolute;">
            <img src="{% static "index/images/view3.jpg" %}" alt="view3" height="360px" width="360px"
                style="margin-left: 50px; margin-top: 410px; position: absolute;">
        </main>

        <aside class="sidebar-area">
            <br>
            <img src="{% static "index/images/preview1.jpg" %}" alt="preview1" height="200px" width="300px" style="margin-left: 50px;">
            <br><br>
            <img src="{% static "index/images/preview2.jpg" %}" alt="preview2" height="200px" width="300px" style="margin-left: 50px;">
            <br><br>
            <img src="{% static "index/images/preview3.jpg" %}" alt="preview3" height="200px" width="300px" style="margin-left: 50px;">
            <article>
                <header>
                    <h2 style="text-align: center;">
                       "Finding<br>
                        your<br>
                        dream<br> 
                        recipe<br> 
                        with<br> 
                        Allblue"<br>
                    </h2>
                </header>
            </article>
        </aside>

        <footer class="site-footer">
            <p class="footer"><b>Allblue Allgood</b></p>
        </footer>
    </div>
{% endblock %}