<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "layout/topnav/css/layout-topnav-style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% block link %}{% endblock %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header id="topnav">
        <div class="top-nav">
            <a href="{% url "index" %}">Allblue</a>
            <a href="{% url "about" %}">About Us</a>
            <a href="#">Menu</a>
            <a href="https://github.com/6110613228/cn331-Project-Allblue" target="blank">Github</a>
            <a href="https://www.pivotaltracker.com/n/projects/2469972" target="blank">Pivotal Tracker</a>
            <a class="login" href="">Login</a>
        </div>
    </header>

    {% block body %}
    {% endblock %}

</body>
</html>