{% extends "layout-topnav.html" %}

{% load static %}

<!-- Title -->
{% block title %}Login page{% endblock%}

<!-- link style sheat -->
{% block link %} {% static "login/css/login-style.css" %} {% endblock %}
<!-- body -->
{% block body %}

<h1>Login</h1>
{% if message %}
    <h2>{{ message }}</h3>
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </div>

    <input type="submit">
</form>

{% endblock %}