{% extends "layout-topnav.html" %}
<!-- Title -->
{% block title %}Menu{% endblock %}

<!-- load static -->
{% load static %}

<!-- link css -->
{% block link %} {% static "menu/css/menu-style.css" %} {% endblock %}

<!-- background -->
{% block body %}

    <div class="container-xl mb-5">
        <div class="card-group row-cols-md-3 mt-5">
        {% for x in menu %}
            <div class="col mb-2 px-1">
                <div class="card block h-100">
                    <img src="../../static/menu/images/burger.webp" class="card-img-top h-100" alt="burger">
                    <div class="text">
                        <a href="{% url "recipe_view" x.id %}">ครัวคุณต้อย</a>
                        <p>{{ x.reName }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <h1>There is no Menu..</h1>
        {% endfor %}
        </div>
    </div>
    <div class="footer"></div>
{% endblock %}