{% extends "layout-topnav.html" %}
<!-- Title -->
{% block title %}Menu{% endblock %}

<!-- load static -->
{% load static %}

<!-- link css -->
{% block link %} {% static "menu/css/menu-style.css" %} {% endblock %}

<!-- background -->
{% block body %}

    <div class="container-xl mb-5">
        <div class="form">
            <form action="/action_page.php">
                <label for="search">Search Recipe:</label>
                <input type="search" id="search" name="search">
                <input class="btn btn-dark" type="submit">
            </form>
        </div>

        <div class="card-group row-cols-md-3">
            <div class="col mb-2 px-1">
                <div class="card block h-100">
                    <img src="../../static/menu/images/burger.webp" class="card-img-top h-100" alt="...">
                    <div class="text">
                        <a href="{% url "menu" %}">ครัวคุณต้อย</a>
                    </div>
                </div>
            </div>
            <div class="col mb-2 px-1">
                <div class="card block h-100">
                    <img src="../../static/menu/images/kapao.jpg" class="card-img-top h-100" alt="...">
                    <div class="text">
                        <a href="{% url "menu" %}">ครัวใบโมก</a>
                    </div>
                </div>
            </div>
            <div class="col mb-2 px-1">
                <div class="card block h-100">
                    <img src="../../static/menu/images/somtum.jpg" class="card-img-top h-100" alt="...">
                    <div class="text">
                        <a href="{% url "menu" %}">ครัวหมึกแดง</a>
                    </div>
                </div>
            </div>
            <div class="col mb-2 px-1">
                <div class="card block h-100">
                    <img src="../../static/menu/images/steak.jpg" class="card-img-top h-100" alt="...">
                    <div class="text">
                        <a href="{% url "menu" %}">ครัวนายคริส</a>
                    </div>
                </div>
            </div>
            <div class="col mb-2 px-1">
                <div class="card block h-100">
                    <img src="../../static/menu/images/somtum.jpg" class="card-img-top h-100" alt="...">
                    <div class="text">
                        <a href="{% url "menu" %}">ครัวนายคริส</a>
                    </div>
                </div>
            </div>
            <div class="col mb-2 px-1">
                <div class="card block h-100">
                    <img src="../../static/menu/images/somtum.jpg" class="card-img-top h-100" alt="...">
                    <div class="text">
                        <a href="{% url "menu" %}">ครัวนายคริส</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}