{% extends "layout-topnav.html" %}
<!-- Title -->
{% block title %}Menu{% endblock %}

<!-- load static -->
{% load static %}

<!-- link css -->
{% block link %} {% static "menu/css/menu-style.css" %} {% endblock %}

<!-- background -->
{% block body %}

<div class="grid" id="gridview">
    <button class="btn"><a href="{% url "menu2" %}">2 rows</a></button>
    <button class="btn"><a href="{% url "menu3" %}">3 rows</a></button>
</div>

<div class="form">
    <form action="/action_page.php">
        <label for="search">Search Recipe:</label>
        <input type="search" id="search" name="search">
        <input type="submit">
    </form>
</div>

<div class="row">
    <div class="column2">
        <div class="block2">
            <img src="{% static "menu/images/kapao.jpg" %}" class="image2">
            <div class="text">PadKapao</div>
        </div>
        <div class="block2">
            <img src="{% static "menu/images/somtum.jpg" %}" class="image2">
            <div class="text">Somtum</div>
        </div>
    </div>
    <div class="column2">
        <div class="block2">
            <img src="{% static "menu/images/pancake.jpg" %}" class="image2">
            <div class="text">Pancake</div>
        </div>
        <div class="block2">
            <img src="{% static "menu/images/burger.webp" %}" class="image2">
            <div class="text">Burger</div>
        </div>
    </div>

{% endblock %}