{% extends "layout-topnav.html" %}
<!-- Title -->
{% block title %} Profile {% endblock %}

<!-- load static -->
{% load static %}

<!-- link css -->
{% block link %} {% static "profile/css/profile-style.css" %} {% endblock %}
{% block head %}

<link rel="stylesheet" href="{% static 'user/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static 'user/css/style.css' %}">

<script src="{% static 'user/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'user/js/main.js' %}"></script>
{% endblock %}

<!-- background -->
{% block body %}
<div class="main pt-5" style="background-image: url('../../static/profile/images/back.jpg');">
    <div class="container-fluid pt-5">
        <div class="container mt-3 mx-auto" style="height: 550px; border-width:5px; box-shadow: 0px 0px 4px">
            <div class="row ">

                <div class="col-6 col-md-5 mt-4 px-0 pt-5">
                    <div class="signup-image mx-auto mt-5">
                        <figure><img src="{% static 'profile/images/default.png' %}" class="w-50 h-50"
                                alt="sing in image">
                        </figure>
                        <a href="{% url 'editProfile' %}" class="signup-image-link" style="font-size: 20px;">
                            Edit profile</a>
                        <div class="dropdown-divider  mx-3"></div>
                        <a href="{% url 'profile' %}" class="signup-image-link" style="font-size: 20px;">My
                            recipe</a>
                        <div class="dropdown-divider mx-3"></div>
                        <a href="{% url 'addrecipe' %}" class="signup-image-link" style="font-size: 20px;">Add
                            recipe</a>
                    </div>
                </div>

                <div class="col-6 mt-4 ml-0 ">
                    <p class="hdtext text-center text-uppercase mx-auto mt-3">Profile</p>
                    <div class="container w-100 mt-3 pb-3" style="border-width:5px; box-shadow: 0px 0px 2px">
                        <p class="subtext text-center text-uppercase pt-5">
                            {{request.user.first_name}} {{request.user.last_name}}
                        </p>
                        <p class="text text-left mt-5 mb-4 ml-3 mr-3">
                            Email : {{request.user.email}}
                            <br><br>
                            Date joined : {{request.user.date_joined}}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}