html {
    background-color:rgb(255, 193, 21);
    min-width: 1903px;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.firstBlock {
    width: auto; 
    height: auto;
    background-size: 110em; 
    background-repeat:no-repeat; 
    background-size: cover; 
    background-image: url(../images/bg1.jpg);
    padding-bottom: 300px;
}

.firstBlock h1 {
    margin: 0;
    padding-top: 90px;
}

.firstBlock headfont {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: 1.2;
    margin-left: 100px;
}

.firstBlock subheadfont {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 1.5em;
    color: coral;
    margin-left: 100px;
}

.firstBlock header {
    font-family: cursive, sans-serif;
    font-size: 2.2em;
    margin-left: 400px;
    margin-top: 50px;
    width: 500px;
}
.firstBlock .underline {
    margin-left: 330px;
    margin-top: -170px;
    margin-bottom: -130.4px;
}

.firstBlock subbodyfont {
    font-family: cursive, sans-serif;
    font-size: 2.4em;
}

.firstBlock subbodyfont p {
    margin-left: 170px;
}

.secondBlock {
    width: 1520px;
    height: 1200px;
    background-repeat:no-repeat;
    background-size: cover;
    background-image: url(about/images/bg2.jpg);
}