body {
    background-color: rgb(255, 193, 21);
}

.topnav-width-max {
    min-width: 768px;
}

#topnav .top-nav {
    overflow: hidden;
    background-color: rgb(49, 49, 49);
}

#topnav .top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

#topnav .top-nav a.float-right {
    float: right;
}

#topnav .top-nav a:hover {
    background-color:black;
}

p.footer {
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 20px;
}