body {
    background-color: rgba(238, 234, 234, 0.938);
}

#searchbar {
    width: 40rem;
}

#sign-up-btn {
    font-size: 16px;
}

#profile-pig {
    margin-right: 5px;
    margin-bottom: 6px;
}

.footer {
    height: 10em;
    color: #ffffff;
    background-color: #333333;
}