.hdtext {
    font-family: 'Playfair Display',serif;
    color:black;
    font-size: 50px;
}

.text {
    font-size: 22px;
    font-weight: 1em;
    font-family: 'Playfair Display',serif;
    color:black;
}

.subtext {
    font-size: 30px;
    font-family: 'Playfair Display',serif;
    color:black;
}

.textform {
    font-size: 18px;
    color:black;
}
