.top-nav {
    overflow: hidden;
    background-color: rgb(49, 49, 49);
}

.top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

.top-nav a.login {
    float: right;
}

.top-nav a:hover {
    background-color:black;
}