{% extends "layout-topnavRe.html" %}

{% load static %}

{% block title %} Add Recipe {% endblock %}

{% block link %} {% static 'profile/css/profile-style.css' %} {% endblock %}

{% block body %}

{{ form.non_filed_errors }}
<div class="card w-75 mx-auto mt-3" id="page-container">
    <form method="POST" class="register-form mt-4" id="register-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {% if field.is_hidden%}
        <div style="display: none;">
            {{field.label}} : {{request.user.username}} {{field}}
        </div>

        {% else %}
            {% if field.label == "ReName" %}
            <div class="mx-auto w-50 mx-auto textform">
                RecipeName
            </div>
            {% elif field.label == "Tag" %}
            <div class="mx-auto w-50 mx-auto textform">
                {{field.label}} 
                <br>
                (เลือกหลาย Tag ได้โดยการกด ctrl+คลิกซ้าย)
            </div>
            {% else %}
            <div class="mx-auto w-50 mx-auto textform">
                {{field.label}}
            </div>
            {% endif %}
        <div class="card w-50 mx-auto mb-4">
            {{field}}
        </div>
        {% endif %}
        {% endfor %}
        <div class="mt-5 w-50 mx-auto mb-5">
            <input type="submit" class="btn btn-primary mb-3">
    </form>
</div>
{% endblock %}