{% extends "layout-topnav.html" %}

{% load static %}

{% block title %}Recipe: {{ result.reName }} {% endblock %}

{% block link %} {% static "profile/css/profile-style.css" %} {% endblock %}

{% block body %}
<div class="card w-50 mx-auto pb-5 my-3 px-4">

    <p class="textfield mt-5 pt-3 text-center text-uppercase mb-5"><b>{{result.reName}}</b></p>

    <div class="card h-75 w-75 mx-auto my-2">
        <img src="https://drive.google.com/uc?export=view&id={{ result.image }}" class="w-100 h-100" alt="image">
    </div>

    <p class="menufont mt-5 text-left ml-3 mt-5"><b>Creator </b><span class="menuform ml-2">{{user}}</span></p>

    
    <div class="menufont text-left ml-3 mb-2 mt-3"><b>Ingredient</b>
        <p class="card menuform text-left mt-2 mx-4 py-2 border-dark">
        {% for item in ingredient %}
            <span class="ml-3">{{ item }}</span>
        {% endfor %}
        </p>
    </div>
    
    <div class="menufont text-left ml-3 mt-3"><b>Solution</b>
        <p class="card menuform text-left mt-2 mx-4 py-2 border-dark">
        {% for item in solution %}
            <span class="ml-3">{{ item }}</span>
        {% endfor %}
        </p>
    </div>


    <div class="row mb-4 mt-4">
        <div class="col">
            <div class="mb-2 textfield w-100 text-right">
                <form action="{% url "voteup" result.id %}" method="get">
                    <button type="submit" class="btn border-dark">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                          </svg>
                        {{ result.voteUp.count }}
                    </button>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="textfield text-left w-100">
                <form action="{% url "votedown" result.id %}" method="get">
                    <button type="submit" class="btn border-dark">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                          </svg>
                        {{ result.voteDown.count }}
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="textfield ml-3 mt-3"><b>Comment</b></div>
        <p class="menuform card  text-center mx-4 mb-5 ">
            Comment
        </p>
    </div>

</div>

{% endblock %}